:root {
    --couleur-primaire : #2a6442;
}
/* Empêcher le logo de s'étirer sur toute la largeur */
.site-header .site-title img {
    width: 50px !important; /* Force la largeur à 150 pixels */
    height: auto !important;  /* Garde les proportions */
    display: inline-block;    /* Empêche de prendre toute la ligne */
}

.site-header .site-title {
    text-align: center;       /* Centre le logo si besoin */
}
